<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation Suite" thread-count="5" parallel="tests">
 <listeners>
 <listener class-name="com.qa.utility.Reporting"></listener>
 </listeners>
<parameter name="Url" value="http://automationpractice.com/index.php"></parameter>

  
  <test thread-count="5" name="Functional Test - Automation Practice - Chrome" parallel="classes">
  <parameter name="Browser" value="chrome"></parameter>
    <classes>
      <class name="com.qa.testscripts.TC_ProductRegistration_01"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->